<table>
<tr>
  <th>Class</th>
  <th>Hit Die</th>
  <th>Hit Points at 1st</th>
  <th>Hit Points after 1st</th>
  <th>Armor</th>
  <th>Weapon</th>
  <th>Tool</th>
  <th>Skill Proficiencies</th>
  <th>Saving Throw Proficiencies</th>
</tr>

<% @character_classes.each do |char_class| %>
  <tr>
    <td><%= link_to char_class.name, class_path(char_class.id) %></td>
    <td><%= char_class.hit_die %></td>
    <td><%= char_class.hit_points_at_first %></td>
    <td><%= char_class.hit_points_at_higher %></td>
    <td><!-- Armor Proficiencies --></td>
    <td><!-- Weapon Proficiencies --></td>
    <td><!-- Tool Proficiencies --></td>
    <td><strong>Choose <%= char_class.skill_amount%> from</strong>:
      <%= char_class.skill_proficiencies.map { |prof| prof.skill.name }.join(", ") %>
    </td>
    <td><%= link_to char_class.save_proficiencies.first.ability.name,
            ability_path(Ability.find(char_class.save_proficiencies.first.ability_id)) %>,
        <%= link_to char_class.save_proficiencies.last.ability.name,
            ability_path(Ability.find(char_class.save_proficiencies.last.ability_id)) %></td>
  </tr>
<% end %>
</table>
